<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <input-text
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      ></input-text>

      <input-text
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Contraseña"
      ></input-text>

      <default-button text="Login"></default-button>
      <div class="register">
        ¿No tiene una cuenta? &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }"
          >Regístrese aquí</a
        >
      </div>
    </form>
  </div>
</div>
